@use "./variables";

:root {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  font-family: variables.$montserrat;
  color: variables.$light;
  line-height: 1.2;
  background-color: variables.$dark;
}

.app-container {
  width: 100%;
}

h1,
h2,
h3 {
  font-family: variables.$oswald;
}

a {
  text-transform: uppercase;
  font-size: 0.8em;
  display: block;
  text-decoration: none;
  cursor: pointer;
  color: inherit;
  font-family: variables.$nunito;
  font-weight: variables.$ft-bold;
}
