@import "fonts";

//Fonts
$nunito: "Nunito", sans-serif;
$montserrat: "Montserrat", sans-serif;

//Font weights
$ft-light: 400;
$ft-semi: 600;

// Colors
$dark: hsl(0, 0%, 10%);
$light: hsl(0, 0%, 97%);
$accent: hsl(44, 80%, 51%);
