@use "../partials/mixins";
@use "../partials/variables";

#blogs {
  .blogs-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    gap: 1em;

    @media (min-width: variables.$md) {
      gap: 1.5em;
    }
    @media (min-width: variables.$lg) {
      gap: 2em;
    }

    & .blog-card {
      padding-bottom: 1em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;
      gap: 0.5em;
      min-width: 300px;
      max-width: 320px;
      border: 2px solid rgba(variables.$light, 0.7);

      & > *:not(img) {
        margin-left: 0.7em;
      }

      & img {
        width: 100%;
        max-height: 220px;
        transition: scale 0.2s linear;

        &:hover {
          scale: 1.1;
          transition: scale 0.2s linear;
        }
      }

      & h3 {
        margin-top: 0.8em;
      }

      & .accent-btn {
        margin-top: 1em;
      }
    }
  }
}
